body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.grid-square {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
}